.links{
    text-decoration: none !important;
    color: #2C3E50;
}
.rectangle{
    height: 720px;
    width: 1280px;
    background-color:black;
}
.header {
    background-color: #2C3E50;
    transition: 0.3s;
}


.header .active{
    background-color:#18BC9C !important;
    border-radius: 10px;
    outline: none;
    color: white !important;
    
}


.shrink{
}

.header a {
    outline: none;
    border: none;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-weight: 4000;
    color: white;
}

.header #WHY:hover{
    color:#18BC9C;
}
.header #PLAY:hover{
    color:#18BC9C;
}

.header #CONTRIBUTE:hover{
    color:#18BC9C;
}
.fa-sbars{
    color: white;
}

.header #SPACEDIPLOMACY {
    font-size: 2em;
    color: white; 
    background: none;
    font-family: "Gotham";
    letter-spacing: 0.1625rem;
    font-weight: 2000;
}
.header #PLAY,
.header #WHY,
.header #CONTRIBUTE {
    font-size: 1em;
    color: white;
    background: none;
    font-family: "Gotham";
    letter-spacing: 0.3625rem;
    font-weight: 300;
}

#PLAYnav{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #2C3E50;
    margin: auto;
    font-weight: 100;
}

.PLAY-header{
    letter-spacing: 0.5rem;
}

#WHYnav, #CONTRIBUTEnav, .footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.linebr {
    width: 7.5em;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    overflow: visible;
    display: inline-block;
}
.fas.fa-star {
    position: relative;
    top: -1em;
    font-size: 2em;
}


.PLAY {
    background-color: white;
    color: #2C3E50;
}

.portfolio-img {
    margin-bottom: 20px;
}

.overlay {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}


.WHY {
    background-color: #18BC9C;
    color: white;
}

.about-text {
    font-size: 3rem;
}

.CONTRIBUTE {
    background-color: white;
    color: #2C3E50;
}
.project:hover{
    color: #18BC9C;
}

.projecttext{
    color:gray;
}

.footer {
    background-color: #2C3E50;
    color: white;
}

.copyright-section {
    background-color: #1a252f;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
// overrides

.fas.fa-bars{
    color:black;
}
small{
    color: gray;
}

#canvas-holder {
    min-width: 1280px;
    letter-spacing: none;
}